<div class="container top">
    <!-- {{ cakes | json }} -->
    <h1>Rate My Cakes</h1>
    <div class="row cakesContainer">
      <form (submit)="onSubmitCake()" class="border p-2 col-4">
        <h5>Submit a cake to be rated</h5>
        <div class="form-group">
          <label for="baker">Baker Name</label>
          <input class="form-control" type="text" name="baker" id="baker" [(ngModel)]="newCake.baker">
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input class="form-control" type="text" name="imageUrl" id="imageUrl" [(ngModel)]="newCake.imageUrl">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>

      <div class="col-8 cakes overflow-auto">

        <div *ngFor="let cake of cakes" class="cake row border">
          <div class="col-4 d-flex justify-content-center align-items-center px-0">
            <img class="cake-img-sm" [src]="cake.imageUrl" alt="Cake" (click)="showDetails(cake)">
          </div>
          <div class="col-8 d-flex align-items-center">
            <form (submit)="onSubmitReview(cake._id)" class="flex-grow-1">
              <div class="form-group">
                <label>Comment</label>
                <input class="form-control" type="text" name="comment" [(ngModel)]="reviewForms[cake._id].comment">
              </div>
              
              
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <label class="mb-0">Rating</label>
                  <div (mouseleave)="resetColor(cake._id)">
                    <span *ngFor="let star of reviewForms[cake._id].stars; let i = index" [class]="showStar(cake._id, i)" (click)="setRating(cake._id, i)" (mouseenter)="hoverStar(cake._id, i)"></span>
                  </div>
                </div>
          
                <button class="btn btn-primary" type="submit">Submit</button>

                <!-- <div class="form-group d-flex justify-content-end"> -->
                  
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>

    
    <app-cake *ngIf="cakeToShow" [cakeToShow]="cakeToShow" [avgRating]="avgRating"></app-cake>
</div>

